
<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>-->
  <md-card>
  <md-card-title>Add New Album to Inventory</md-card-title>
    <div>
      <!--<div>
        <label>Album Title:</label>
        <br>
        <input #newTitle>
      </div>-->
      <table>
        <tr>

      <td>
      <md-input-container>
        <input mdInput placeholder="Album Title" #newTitle>
      </md-input-container>
      </td>
      <tr>

      <!--<div>
        <label>Album Artist:</label>
        <br>
        <input #newArtist>
      </div>-->

      <tr>
      <td>
      <md-input-container>
        <input mdInput placeholder="Album Artist" #newArtist>
      </md-input-container>
      </td>
      </tr>

      <!--<div>
        <label>Album Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>-->

      <tr>
      <td>
        <md-input-container>
          <textarea mdInput placeholder="Album Description" #newDescription></textarea>
        </md-input-container>
      </td>
      </tr>
      </table>

      <button md-raised-button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value); newTitle.value=''; newArtist.value=''; newDescription.value=''">Add</button>
    </div>
  </md-card>
<!--</div>-->
<div>
  <app-marketplace></app-marketplace>
</div>
